# dependencies
node_modules/

# testing
coverage/

# next.js
.next/

# env files
.env.local
.env

# typescript
*.tsbuildinfo

# Prisma
/src/generated/prisma

# Override global gitignore  
!package.json
!package-lock.json
!notatki.md
!docker-compose.yml